---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "public/assets/images/delaHero.jpeg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getImage } from "astro:assets";
const optimizedImage = await getImage({src: landingImage, format: 'avif'});
---

<BaseLayout
  title="Gallery"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Gallery"
    image={optimizedImage}
  />

  <!-- ============================================ -->
  <!--                  Reviews                     -->
  <!-- ============================================ -->

  <!-- <section id="reviews">
    <div class="container">
      <div class="review">
        <picture>
          <img
            class="profile"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <span class="name">B Miller<span class="desc">Homeowner</span></span>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            class="profile"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <span class="name">Vincent M.<span class="desc">Homeowner</span></span
          >
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            class="profile"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <span class="name">Alex L.<span class="desc">Homeowner</span></span>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            class="profile"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile-woman.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <span class="name"
            >Arrieana M.<span class="desc">Homeowner</span></span
          >
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            class="profile"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <span class="name">Leo N.<span class="desc">Homeowner</span></span>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
      <div class="review">
        <picture>
          <img
            class="profile"
            loading="lazy"
            decoding="async"
            src="/assets/svgs/profile.svg"
            alt=""
            width="99"
            height="99"
          />
        </picture>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed
          recusandae rerum unde similique ratione sapiente necessitatibus natus
          mollitia nam iusto.
        </p>
        <div class="star-group">
          <span class="name">Brian A.<span class="desc">Homeowner</span></span>
          <picture>
            <img
              aria-hidden="true"
              loading="lazy"
              decoding="async"
              src="/assets/svgs/stars.svg"
              alt="stars"
              width="91"
              height="15"
            />
          </picture>
        </div>
      </div>
    </div>
  </section> -->
  <section id="gallery">
    <div>
      <div class="dropdown-section flex flex-col justify-center items-center">
        <button class="dropDowntoggle font-bold text-3xl" style="color:var(--primary)">Nails</button>
        <div class="imageDropdown hidden md:flex md:flex-row md:flex-wrap md:justify-center md:items-center md:gap-4">
          <img src="/assets/images/nails1.jpeg" alt="Nail Image 1" class="w-68 max-w-96">
          <img src="/assets/images/nails2.jpeg" alt="Nail Image 2" class="w-68 max-w-96">
          <img src="/assets/images/nail3.jpeg" alt="Nail Image 3" class="w-68 max-w-96">
          <img src="/assets/images/nails4.jpeg" alt="Nail Image 4" class="w-68 max-w-96">
        </div>
      </div>
      <div class="dropdown-section flex flex-col justify-center items-center">
        <button class="dropDowntoggle font-bold text-3xl" style="color:var(--primary)">Lashes</button>
        <div class="imageDropdown hidden md:flex md:flex-row md:flex-wrap md:justify-center md:items-center md:gap-4">
          <img src="/assets/images/nails1.jpeg" alt="Nail Image 1" class="w-68 max-w-96">
          <img src="/assets/images/nails2.jpeg" alt="Nail Image 2" class="w-68 max-w-96">
          <img src="/assets/images/nail3.jpeg" alt="Nail Image 3" class="w-68 max-w-96">
          <img src="/assets/images/nails4.jpeg" alt="Nail Image 4" class="w-68 max-w-96">
        </div>
      </div>
      <div class="dropdown-section flex flex-col justify-center items-center">
        <button class="dropDowntoggle font-bold text-3xl" style="color:var(--primary)">Brows</button>
        <div class="imageDropdown hidden md:flex md:flex-row md:flex-wrap md:justify-center md:items-center md:gap-4">
          <img src="/assets/images/nails1.jpeg" alt="Nail Image 1" class="w-68 max-w-96">
          <img src="/assets/images/nails2.jpeg" alt="Nail Image 2" class="w-68 max-w-96">
          <img src="/assets/images/nail3.jpeg" alt="Nail Image 3" class="w-68 max-w-96">
          <img src="/assets/images/nails4.jpeg" alt="Nail Image 4" class="w-68 max-w-96">
        </div>
      </div>
      <div class="dropdown-section flex flex-col justify-center items-center">
        <button class="dropDowntoggle font-bold text-3xl" style="color:var(--primary)">Courses</button>
        <div class="imageDropdown hidden md:flex md:flex-row md:flex-wrap md:justify-center md:items-center md:gap-4">
          <img src="/assets/images/nails1.jpeg" alt="Nail Image 1" class="w-68 max-w-96">
          <img src="/assets/images/nails2.jpeg" alt="Nail Image 2" class="w-68 max-w-96">
          <img src="/assets/images/nail3.jpeg" alt="Nail Image 3" class="w-68 max-w-96">
          <img src="/assets/images/nails4.jpeg" alt="Nail Image 4" class="w-68 max-w-96">
        </div>
      </div>
      
    </div>
</section>

<script>
    // main.ts
    const toggleButtons = document.querySelectorAll<HTMLButtonElement>('.dropDowntoggle');

toggleButtons.forEach((button) => {
  button.addEventListener('click', () => {
    const dropdown = button.nextElementSibling as HTMLDivElement | null;

    if (dropdown) {
      // Toggle the 'hidden' class to show/hide the dropdown
      dropdown.classList.toggle('hidden');
      // Optional: You can add animations or transitions if you want
    }
  });
});
</script>
<!-- <section class="flex flex-col justify-center items-center">
  <nav class="w-3/4 ">
    <ul class="flex flex-row justify-around items-center ">
      <a href="#nails"><li>Nails</li></a>
      <a href="#lashes"><li>Lashes</li></a>
      <a><li>Brows</li></a>
      <a><li>Courses</li></a>
    </ul>
  </nav>
  <div>
    <h1>NAILS</h1>
    <div id="nails" class=" flex flex-row justify-center items-center flex-wrap gap-4">
      <img src="/assets/images/nails1.jpeg" alt="Nail Image 1" class="max-w-96">
      <img src="/assets/images/nails2.jpeg" alt="Nail Image 2" class="max-w-96">
      <img src="/assets/images/nail3.jpeg" alt="Nail Image 3" class="max-w-96">
      <img src="/assets/images/nails4.jpeg" alt="Nail Image 4" class="max-w-96">
    </div>
  </div>
  <div>
    <h1>LASHES</h1>
    <div id="lashes" class=" flex flex-row justify-center items-center flex-wrap gap-4">
      <img src="/assets/images/nails1.jpeg" alt="Nail Image 1" class="max-w-96">
      <img src="/assets/images/nails2.jpeg" alt="Nail Image 2" class="max-w-96">
      <img src="/assets/images/nail3.jpeg" alt="Nail Image 3" class="max-w-96">
      <img src="/assets/images/nails4.jpeg" alt="Nail Image 4" class="max-w-96">
    </div>
  </div>
</section> -->

  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE REVIEWS PAGE */

  /*-- -------------------------- -->
<---           Reviews          -->
<--- -------------------------- -*/

  /* Mobile */
  @media only screen and (min-width: 0em) {
    #reviews {
      margin: auto;
      padding-top: (120/16rem);
      padding-bottom: (50/16rem);

      .container {
        width: 96%;
        max-width: (1320/16rem);
      }

      .review {
        width: 100%;
        max-width: (410/16rem);
        margin: auto;
        margin-bottom: (100/16rem);
        padding: (64/16rem) (30/16rem) (18/16rem) (30/16rem);
        background: #fff;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
        border-radius: (5/16rem);
        display: flex;
        flex-direction: column;
        position: relative;
        &:last-of-type {
          margin-bottom: 0;
        }

        .profile {
          width: (99/16rem);
          height: (99/16rem);
          margin-bottom: (16/16rem);
          margin-left: 0;
          border-radius: 50%;
          display: block;
          position: absolute;
          top: (-51/16rem);
          left: (30/16rem);
        }

        p {
          line-height: 1.5em;
          text-align: left;
          margin-bottom: (28/16rem);
        }

        .star-group {
          margin-top: auto;
          padding-top: (16/16rem);
          border-top: 1px solid #e7e7e7;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-wrap: nowrap;

          .name {
            font-weight: bold;
            line-height: (24/16rem);
            text-align: left;
            color: #1a1a1a;
            display: block;
          }

          .desc {
            font-weight: 400;
            color: #575757;
            display: block;
          }

          img {
            width: (91/16rem);
            height: (15/16rem);
            margin: 0;
            display: block;
          }
        }
      }
    }
  }

  /* Tablet */
  @media only screen and (min-width: 48em) {
    #reviews {
      padding-top: (150/16rem);
      padding-bottom: (50/16rem);

      .container {
        font-size: ~"min(1.4vw, 1em)";
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: (30/16rem);
      }

      .review {
        margin: 0;
        margin-bottom: (150/16rem);

        &:last-of-type {
          margin-bottom: (150/16rem);
        }
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #reviews {
        .review {
          background: var(--medium);

          .star-group {
            .name {
              color: #fff;
            }

            .desc {
              color: #fff;
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
</style>
