---
import BaseLayout from "@layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import landingImage from "public/assets/images/delaHero.jpeg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import { getImage } from "astro:assets";
const optimizedImage = await getImage({src: landingImage, format: 'avif'})
---

<BaseLayout
  title="Projects"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Lashes"
    image={optimizedImage}
  />

  <!-- ============================================ -->
  <!--                   Gallery                    -->
  <!-- ============================================ -->

  <section id="nails" class="w-full flex flex-col justify-center items-center">
    <div class="w-5/6 flex flex-row flex-wrap gap-8 justify-center items-center " style="margin: 2rem 0;">
      <img src="/assets/images/nails1.jpeg" class="w-72 max-w-[800px] object-cover rounded-3xl xl:w-1/3">
      <img src="/assets/images/nails2.jpeg" class="w-72 max-w-[800px] object-cover rounded-3xl xl:w-1/3">
      <img src="/assets/images/nail3.jpeg" class="w-72 max-w-[800px] object-cover rounded-3xl xl:w-1/3">
      <img src="/assets/images/nails4.jpeg" class="w-72 max-w-[800px] object-cover rounded-3xl xl:w-1/3">
    </div>
    <div class="w-3/4 flex flex-col justify-center items-center md:hidden" style="margin: 1rem 0 1rem 0;">
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Classics (FULLSET)</h1>
        <h1>Classic lashes give the most natural look out of all sets. It is one lash for each lash. This is a perfect set
           for a “mascara” look. This is not ideal for someone who has sparse lashes.</h1>
        <a href="https://delabeauty.as.me/?appointmentType=37268355" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div> 
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">AVERY (FULLSET)</h1>
        <h1>Today’s trendiest style — Our signature set!<br>

          This style gives the illusion of wet lashes and mascara look.<br>
          
          Like a classic set but better!<br>
          Natural but noticeable, airy, filled but not too full.<br>
          
          The perfect everyday look!</h1>
        <a href="https://delabeauty.as.me/?appointmentType=37268384" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div>     
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Classic Fill</h1>
        <h1>Lashes should be 60% full to be considered as fill.</h1>
        <a href="https://delabeauty.as.me/?appointmentType=37268577" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div> 
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Hybrid Fill</h1>
        <a href="https://delabeauty.as.me/?appointmentType=37268599" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div>    
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Volume Fill</h1>
        <a href="https://delabeauty.as.me/?appointmentType=37268599" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div>   
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Hybrid (FULLSET)</h1>
        <h1>Old school but still a fave!<br>

          Mixture of classic lashes and volume fans. Not too much. Not too little.</h1>
        <a href="https://delabeauty.as.me/?appointmentType=54835556" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div> 
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Volumes (FULLSET)</h1>
        <h1>For DRAMA queeen!<br>

          Dark, bold, full.<br>
          
          This set is for those who want to add a little more drama to their everyday look!</h1>
        <a href="https://delabeauty.as.me/?appointmentType=54835581" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div>   
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Avery Set Fill</h1>
        <a href="https://delabeauty.as.me/?appointmentType=67617716" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div> 
      <div class="flex flex-col justify-center items-center " style="margin: 1rem 0 1rem 0;width:clamp(150px,70vw,500px);">
        <h1 class="font-bold text-2xl">Wet Lash (FULLSET)</h1>
        <a href="https://delabeauty.as.me/?appointmentType=67617760" class="cs-button-solid" style="color: #fafbfc;margin: 1rem 0 1rem 0;" >Select</a>
      </div> 
    </div>
    <div class="hidden md:flex md:flex-col md:items-center w-full" style="margin: 1rem 0;">
      <!-- Shellac Polish -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Classics (FULLSET)</h1>
          <h1>Classic lashes give the most natural look out of all sets. It is one lash for each lash. This is 
            a perfect set for a “mascara” look. This is not ideal for someone who has sparse lashes.</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=37268355" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- Biogel with Extensions -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">AVERY (FULLSET)</h1>
          <h1>Today’s trendiest style — Our signature set!<br>

            This style gives the illusion of wet lashes and mascara look.<br>
            
            Like a classic set but better!<br>
            Natural but noticeable, airy, filled but not too full.<br>
            
            The perfect everyday look!</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=37268384" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- Biogel Fill -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Classic Fill</h1>
          <h1>Lashes should be 60% full to be considered as fill.</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=37268577" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- Removals -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Hybrid Fill</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=37268599" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- Polish Change -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Volume Fill</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=37268611" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- Nail Fix -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Hybrid (FULLSET)</h1>
          <h1>Old school but still a fave!<br>

            Mixture of classic lashes and volume fans. Not too much. Not too little.</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=54835556" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- Dry Pedicure -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Volumes (FULLSET)</h1>
          <h1>For DRAMA queeen!<br>

            Dark, bold, full.<br>
            
            This set is for those who want to add a little more drama to their everyday look!</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=54835581" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    
      <!-- BIAB FULLSET -->
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Avery Set Fill</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=67617716" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
      <div class="flex flex-row justify-between gap-x-8 items-center w-5/6 max-w-[1100px]" style="margin: 1rem 0;">
        <div>
          <h1 class="font-bold text-2xl">Wet Lash (FULLSET)</h1>
        </div>
        <a href="https://delabeauty.as.me/?appointmentType=67617760" class="cs-button-solid" style="color: #fafbfc; margin: 1rem 0;">Select</a>
      </div>
    </div>
    
  </section>
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE PROJECTS PAGE */

  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

  /* Mobile - 360px - Contains hover animation */
  @media only screen and (min-width: 0em) {
    #gallery {
      /* Centers button */
      text-align: center;
      padding: var(--sectionPadding);
      position: relative;
      /* Prevents overflow from the image going off screen */
      overflow: hidden;
      .cs-container {
        width: 100%;
        max-width: (1322/16em);
        margin: auto;
      }

      .cs-image-group {
        /* used rem so it doesn't scale with the font size of on parent */
        font-size: ~"min(1.1vw, 1em)";
        width: 100%;
        max-width: (1322/16em);
        margin: 0 auto (60/16rem);
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: (30/16em);
      }

      .cs-row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: (30/16em);
      }

      .cs-picture {
        display: block;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-row-1 {
        .cs-picture1 {
          width: (420/16em);
          height: (567/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (629/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (512/16em);
        }
      }

      .cs-row-2 {
        .cs-picture1 {
          width: (420/16em);
          height: (492/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (517/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }

      .cs-row-3 {
        .cs-picture1 {
          width: (420/16em);
          height: (625/16em);
        }

        .cs-picture2 {
          width: (420/16em);
          height: (452/16em);
        }

        .cs-picture3 {
          width: (420/16em);
          height: (629/16em);
        }
      }
    }
  }
</style>
